.fixed {
  position: fixed;
  display: flex;
  width: 100%;
  height: 40px;
  left: 0;
  background: #fff;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.page-size {
  font-size: 13px;
  min-width: 35.5px;
  height: 28px;
  line-height: 28px;
  padding: 2px 5px;
  vertical-align: top;
  box-sizing: border-box;
  color: #606266;
}

.pt-40 {
  padding-top: 40px;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 10px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el-card__header .flexbox div {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 为了将中间跳转的内容居中，重写elementUI的样式，为了不影响其他的，所以加上id */
#mobile-pagination .el-pagination__jump {
  margin-left: 0;
}

/* 为了使移动端卡片padding小一些,为了不影响其他的，所以加上id */
#padding-card-13 .el-card__header,
#padding-card-13 .el-card__body {
  padding: 13px !important;
}